@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Artikel Pagina";
}
<!DOCTYPE html>

<div class="container">

    <div style="padding-left: 30px">
        <a class="terug-button" href="#" style="color: #000000">Terug naar overzicht</a>
    </div>

    <div class="row">
        <div class="col-md-3" align="right">


            <div class="row">
                <div class="col-md-12" style="padding-bottom: 20px">
                    <img src="~/Images/imgKlein.png" class="img-responsive" alt="Dress1" width="230" height="200">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding-bottom: 20px">
                    <img src="~/Images/imgklein.png" class="img-responsive" alt="Dress2" width="230" height="200">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img src="~/Images/imgklein.png" class="img-responsive" alt="Dress3" width="228" height="200">
                </div>
            </div>

        </div>

        <div class="col-md-6" align="center">
            <img src="~/Images/imgGroot.png" class="img-responsive" alt="Groot Dress" width="550" height="700">
        </div>

        <div class="col-md-3">
            <h3>Maggie Sottero</h3>
            <p>artikel nr.</p>
            <br />

            <p>
                Trouwjurk van Maggir Sottero gemaakt van kant.
                De top kan met- en zonder schouders gedragen worden de jurk heeft
                een laag uitgesneden rug en een fishtail model met een sleep.
            </p>
            <br />

            <p>Merk:</p>
            <p>Kenmerken:</p>
            <p>Prijsindicatie:</p>
            <p>
                Beschikbare kleuren:
                <a href="#" class="btn btn-circle-micro btn-default btn-colors" id="btn-colors-white"></a>
                <a href="#" class="btn btn-circle-micro btn-default btn-colors" id="btn-colors-pink"></a>
                <a href="#" class="btn btn-circle-micro btn-default btn-colors" id="btn-colors-red"></a>
            </p>

            <br />
            <p>Kom de jurken passen!</p>

            <div style="padding-top: 7px;">
                <a class="pink-button" href="#"><strong>pasafspraak maken</strong></a>
            </div>
        </div>

        <div class="col-md-12" align="center" style="padding-top: 30px">
            <h4><strong class="text-uppercase">Bijpassende sierande</strong></h4>

            <div class="row">
                <div class="col-md-3">
                    <a class="sieranden-button" href="#" style="color: #000000">
                        <img src="~/Images/imgSieraden.png" class="img-responsive" alt="image_sieranden">
                        <p class="pull-left"><strong>Abrazi</strong></p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="sieranden-button" href="#" style="color: #000000">
                        <img src="~/Images/imgSieraden.png" class="img-responsive" alt="image_sieranden">
                        <p class="pull-left"><strong>Abrazi</strong></p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="sieranden-button" href="#" style="color: #000000">
                        <img src="~/Images/imgSieraden.png" class="img-responsive" alt="image_sieranden">
                        <p class="pull-left"><strong>Abrazi</strong></p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="sieranden-button" href="#" style="color: #000000">
                        <img src="~/Images/imgSieraden.png" class="img-responsive" alt="image_sieranden">
                        <p class="pull-left"><strong>Abrazi</strong></p>
                    </a>
                </div>
            </div>
            <div style="padding-top: 20px">
                <a class="pink-button" href="http://www.honeymoonshop.nl/bruid/accessoires/"><strong>bezoek de webshop</strong></a>
            </div>

            <br />
        </div>
        <br />

        <div class="col-md-12" align="center" style="padding-top: 30px">

            <h4><strong class="text-uppercase">of zijn deze jurken meer iets voor jou?</strong></h4>
            <div class="row">
                <div class="col-md-3">
                    <a class="jurken-button" href="#" style="color: #000000">
                        <img src="~/Images/imgJurk.png" class="img-responsive" alt="image_jurk">
                        <p class="pull-left"><strong>Maggie Sottero</strong></p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="jurken-button" href="#" style="color: #000000">
                        <img src="~/Images/imgJurk.png" class="img-responsive" alt="image_jurk">
                        <p class="pull-left"><strong>Beautiful by Enzoani</strong></p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="jurken-button" href="#" style="color: #000000">
                        <img src="~/Images/imgJurk.png" class="img-responsive" alt="image_jurk">
                        <p class="pull-left"><strong>Ladybird</strong></p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="jurken-button" href="#" style="color: #000000">
                        <img src="~/Images/imgJurk.png" class="img-responsive" alt="image_jurk">
                        <p class="pull-left"><strong>Très chic</strong></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>