.vs/HoneyMoonShop/v14/.suo
.vs/HoneyMoonShop/v14/.suo
*.suo
.vs/HoneyMoonShop/v14/.suo
*.config
.vs/config/applicationhost.config
/.vs
.vs/config/applicationhost.config
src/HoneymoonShop/bin/Debug/net452/win7-x64/HoneymoonShop.pdb
*.exe
src/HoneymoonShop/bin/Debug/net452/HoneymoonShop.pdb
*.config
/src/HoneymoonShop/bin/Debug
*.IncrementalCache
src/HoneyMoonShop/obj/Debug/net452/dotnet-compile-csc.rsp
*.rsp