@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
        <div class="col-md-4 dressfinder">
            <img src="~/Images/Dress.png" class="pull-left img-responsive" alt="Screenshot">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
        </div>

    </div>
</div>