@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row pull-left">
        <a>  <img src="~/Images/HomescreenImage.png" class="rarerug"></a>


    </div>

    <div class="row">
    
            <p class="homepagetext">Een Jurk of Pak kopen?</p>
            <p class="homepagetext">Zo werkt het...</p>
     
    </div>

    <div class="row">
        <a href="@Url.Action("Error", "Home")"> <img src="~/Images/VideoImage.png" class="videoImage"></a>

    </div>

    <div class="row">

        <p class="homepagetext">Blijf op de Hoogte over</p>
        <p class="homepagetext">De BruidWereled.</p>

    </div>

    <div class="row">
        <a href="@Url.Action("Error", "Home")"> <img src="~/Images/HomescreenImage2.png" class="videoImage"></a>

    </div>
    <div class="row">
        <a href="@Url.Action("Error", "Home")"> <img src="~/Images/HomescreenImage3.png" class="videoImage"></a>

    </div>
    <div class="row">
        <a> <img src="~/Images/Homescreenimage4.png" class="videoImage"></a>

    </div>
</div>