@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Afsraak Pagina";

}
@using HoneymoonShop.Models
@model Afspraak


<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        function validateForm() {
            var x = document.forms["gegevensAfspraak"]["naam"].value;
            if (x === "") {
                alert("Het veld naam is verplicht.");
                var y = document.forms["gegevensAfspraak"]["tel"].value;
                if (y === "") {
                    alert("Vul uw telefoonnummer in.");
                    var z = document.forms["gegevensAfspraak"]["mail"].value;
                    if (z === "") {
                        alert("Vul uw emailadress in.");

                        return false;
                    }
                }
            }
        }
    </script> 
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="row ">
                <div class="col-md-12" style="height: 100%; margin-top: 50px;" align="center">
                    <div class="colltekst" style="display: inline-block;">
                        <h1 class="header-roze">Trouwjurken</h1>
                        <p class="ondertitel">Maak je pasafspraak</p>
                    </div>
                </div>
            </div>



            <div class="" style="height:100%;">


                <div class="col-md-7" align="left" style="padding:20px; box-shadow: 0px 0px 10px #e6e6e6;">
                    <img id="datepickerinvoervelden" src="~/Images/navStap2.png" class="img-responsive" alt="nav-bar" />


                    <br />

   
                      <form name="gegevensAfspraak" action=@Url.Action("DatePickerBevestigen", "DatePicker") method="post" autocomplete="off" onsubmit="return validateForm()">
                        <h3><strong>Stap 2, Gegevens invullen</strong></h3>
                          <input type="hidden" name="datum" value="@Model.DatumTijd">
                        <p>Voor- en achternaam*</p>
                        <input type="text" runat="server" name="naam" id="name" style="height: 30px" size="35" ><br /><br />
                        <p>Trouwdatum*</p>
                        <input type="date" name="Trouwdatum" style="height: 30px" size="35" required><br /><br />
                        <p>Telefoonnummer</p>
                        <input type="tel" name="tel" id="telefoon" style="height: 30px" size="35" required><br /><br />
                        <p>E-mailadres*</p>
                        <input type="email" name="email" style="height: 30px" size="35" autocomplete="on" required><br /><br />
                        <p>Herhaal E-mailadres*</p>
                        <input type="email" name="email2" style="height: 30px" size="35" autocomplete="on" required><br />
                        <input type="checkbox" name="nieuwsbrief" value="ja/nee">Ja, ik wil me graag aanmelden voor de <br /> inspirerende niewsbrief van Honeymoon Shop.
                        <br />
                        <br />
                        <input class="pink-button" type="submit" value="stap 3" />
                    </form>

                
                </div>


                <div class="col-md-5 gekozentijd" align="left">
                    <h3>Gekozen tijd en datum:</h3>
                    <br />
                    <p class="testing" align="center"><strong>@Model.DatumTijd</strong></p>
                    <p style="text-wrap: normal">Vul je persoonkijke gegevens in om de<br /> pasafpraak compleet te maken.</p>
                    <a href="@Url.Action("DatePickerDatum", "DatePicker")" style="color: #FFF; line-height: 300px; vertical-align: bottom">Terug naar stap 1 om datum te wijzigen</a>

                </div>


            </div>

        </div>
    </div>
</body>

</html>
