@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Afsraak Pagina";
}
@using HoneymoonShop.Models
@model Afspraak

<!DOCTYPE html>
<html>

<body>
    <div class="container">

        <div class="row ">
            <div class="col-md-12" style="height: 220px; margin-top: 50px;" align="center">
                <div class="colltekst" style="display: inline-block;">
                    <h1 class="header-roze" >Trouwjurken</h1>
                    <p class="ondertitel">Maak je pasafspraak</p>
                </div>
            </div>
        </div>



        <div class="row" style="box-shadow: 0px 0px 10px #e6e6e6">
            <div class="col-md-2" align="left">
                <img src="~/Images/navStap3.png" class="img-responsive" alt="nav-bar" style="padding-top: 15px; padding-left:35px;" />
            </div>

            <div class="col-md-5" align="left" style="height:375px; padding-top: 30px;">
                <h3><strong>Stap 3, Gegevens controleren</strong></h3>
                <p style="text-wrap: normal">Controleer alle gegevens voor je <br />pasafspraak bij Honeymoon shop aan <br /> Korte Hoogstraat 4, te Rotterdam.</p>
                <br />
                <br />
                <a class="pink-button" href="@Url.Action("DatePickerVoltooid","DatePicker",new {tel = Model.TelefoonNummer, achternaam = Model.Achternaam, datum = Model.DatumTijd, email = Model.EmailAdres})"><strong>Afspraak bevestigen</strong></a>
            </div>

            <div class="col-md-5" align="left" style="height:375px;background-color: #F0597A;padding-left: 50px;">
                <h3 style="color: #fff">Controleer je Gegevens:</h3>
                <br />
                <table style="color: #fff">
                    <tr>
                        <th><strong>Naam:@Model.Achternaam</strong></th>
                        <th style="text-indent: 10%"></th>
                    </tr>
                    <tr>
                        <th><strong>Trouwdatum: @Model.DatumTijd</strong></th>
                        <th style="text-indent: 10%"></th>
                    </tr>
                    <tr>
                        <th><strong>Telefoon:@Model.TelefoonNummer</strong></th>
                        <th style="text-indent: 10%"></th>
                    </tr>
                    <tr>
                        <th><strong>E-mail: @Model.EmailAdres</strong></th>
                        <th style="text-indent: 10%"></th>
                    </tr>
                </table>
                <a href="@Url.Action("DatePickerGegevens", "DatePicker")" style="color: #FFF; line-height: 350px; vertical-align: bottom">Terug naar stap 2 om gegevens te wijzigen</a>

            </div>
        </div>
    </div>
</body>

</html>
