@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<head>

</head>
<body>
    <script>

    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="~/Images/afpsraakmakenvol.png" class="img-responsive" alt="afspraakmaken"/>

                <span style="display: inline;">
                    <a href="@Url.Action("Index","Home")" style="color: #F9C9D3; display:inline-block;" >home</a> 
                    <p style="color:black; display:inline-block;">></p>
                    <a href="@Url.Action("DatePicker","DatePicker")" style="color: #F9C9D3; display:inline-block;">Afspraak</a>
                </span>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-12" style="max-height: 450px; background-color: #fff; margin-top: 50px;">
                <div class="colltekst" style="display: inline-block;">
                    <h1 class="header-roze"><strong>Voltooid!</strong></h1>
                    <p class="ondertitel2"> Je pasafspraak is gemaakt</p>

                    <div class="row" style="margin-top: 5%;">
                    </div>
                    <div class="tekstonder" style="display: inline-block;max-width: 990px;margin-left: 30%;margin-bottom: 20px;">
                        <p class="tekst" style="text-align: center;  padding-bottom: 26px; font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-weight: 200; display:inline;"> Leuk! Je pasafpsraak is gemaakt! Er is een bevestiging van je afspraak naar je emailadres gestuurd. Maak ook meteen een </p>
                        <a href="@Url.Action("DatePicker", "DatePicker")" style="text-align: center; padding-bottom: 26px; font-family: Verdana, Geneva, sans-serif, underlined; font-size: 18px; font-weight: 200; display:inline;">afspraak voor je partner.</a>
                    </div>
                </div>

               
                    <a href="https://www.facebook.com/sharer/sharer.php?u=www.honeymoonshop.com"
                       target="_blank">
                        <div class="pink-button" style="padding-top: 7px;  max-width: 210px;  margin-left: 40%;">  deel dit moment</div>
                        </a>
                     </div>
                      </div>

        <div class="row ">
            <div class="col-md-6">
                <img src="~/Images/tiptrick.png" class="img-responsive" alt="image_jurk">
                <a href="#BOTTOM"> <img src="/Images/pijl3.png" class="img-thumbnail pull-right" alt="pijltje" /></a>
            </div>
            <div class="col-md-6">
                <div class="text-justify" style="display: inline-block;">
                    <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, bold; font-size: 24px; font-weight: 500;">Tips and tricks</p>
                    <br />
                    <p style="display:inline;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Age sane, inquam. At ille pellit, qui permulcet sensum voluptate</p>
                    <a href="http://www.honeymoonshop.nl/service/faq/de-winkel/">veelgestelde vragen.</a>
                </div>

                <ul style="color:hotpink;">
                    <li><p style="color:black;">Neem niet te veel vriendinnen mee, dan is het lastiger om iedereen tevreden te houden.</p></li>
                    <li><p style="color:black;">Bedenk van te voren wat je budget is.</p></li>
                    <li><p style="color:black;">Probeer op internet alvast weervoorspellingen voor jouw trouwdatum te vinden</p></li>
                    <li><p style="color:black;">Pas altijd meerdere jurken.</p></li>
                    <li><p style="color:black;">Vraag je aanstaande om advies en zijn of haar mening.</p></li>
                </ul>
            </div>
        </div>

        <div class="colltekst" style="display: inline-block;">
            <h1 class="header-roze"><strong>How it works</strong></h1>
            <p class="ondertitel3"> Hoe verloopt het passen van</p>

            <div class="row" style="margin-top: 5%;">
            </div>

            <div class="row pull-left">
                <a>  <img src="~/Images/BevestgingsPage.png" class="footerimage"></a>
            </div>

            <div class="row pull-left">
                <a>  <img src="~/Images/BevestgingsPage2.png" class="footerimage"></a>
            </div>

        </div></div>
</body>