@using System.Collections
@model HoneymoonShop.Models.Jurk
@{
    Layout = "_HoneyMoon";
}

<form asp-action="Edit" method="post" style="margin-top: 80px">
    <input type="hidden" asp-for="JurkId" />
    <div class="form-group">
        <label asp-for="Artikelnummer"></label>
        <div><span asp-validation-for="Artikelnummer" class="text-danger"></span></div>
        <input asp-for="Artikelnummer" class="form-control" />
    </div>
    <div >
        <label asp-for="Merk"></label>
        @Html.DropDownList("Merk",
            new SelectList((IEnumerable) ViewData["merken"]))
    </div>
    <div>
        <label asp-for="Stijl"></label>
        @Html.DropDownList("Stijl",
            new SelectList((IEnumerable) ViewData["stijlen"]))
    </div>
    <div class="form-group">
        <label asp-for="MinPrijs"></label>
        <div><span asp-validation-for="MinPrijs" class="text-danger"></span></div>
        <input asp-for="MinPrijs" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="MaxPrijs"></label>
        <div><span asp-validation-for="MaxPrijs" class="text-danger"></span></div>
        <input asp-for="MaxPrijs" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Neklijn"></label>
        @Html.DropDownList("Neklijn",
            new SelectList((IEnumerable) ViewData["neklijnen"]))
    </div>
    <div class="form-group">
        <label asp-for="Silhouette"></label>
        @Html.DropDownList("Silhouette",
            new SelectList((IEnumerable)ViewData["silhouettes"]))
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Crud" class="btn btn-default">Cancel</a>
    </div>
</form>
