@{
    Layout = "_HoneyMoon";
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Slider - Range slider</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

  
</head>

<div class="row pull-left">
    <a>  <img src="~/Images/rarerug.png" class="rarerug" ></a>
</div>
<!-- dylans part">-->

<div class="container" style="padding: 50px;">
        @* https://docs.microsoft.com/en-us/aspnet/core/mvc/views/partial
        https://cmatskas.com/update-an-mvc-partial-view-with-ajax/ *@
    @Html.Partial("FilterPartial")

    <div id="productPartial">
        @Html.Partial("DressPlaatjesPartial")
    </div>
</div>
    
